<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MingMing</title>
</head>
<body>
        <h1>Backend server for barbershop API is running</h1>
        <h3>Go to <a href="https://barber-booking.onrender.com/docs" target="_blank">https://barber-booking.onrender.com/docs</a> to see the API specification (Swagger UI)</h3>
</body>
</html>